body {
    font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
    font-size: 14px;
}

.demo-wrap {
    position: relative;
    height: 600px;
    border: 1px solid
}

#cy, #cy2 {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
}

h1 {
    opacity: 0.5;
    font-size: 1em;
    font-weight: bold;
}

.cy-title {
    text-align: center;
}

.cy-title_right {
    text-align: right;
}

.cy-title__p1 {
    color: #000;
    font-size: 14px;
    margin: 0;
}

.cy-title__p2 {
    color: #646464;
    font-size: 10px;
    font-weight: bold;
    margin: 0;
}

.cy-title__p2::before {
    content: "{";
    color: #2f2fb1;
}

.cy-title__p2::after {
    content: "}";
    color: #2f2fb1;
}

.cy-title_left {
    text-align: left;
}
